.logo {
  text-align: center
}

.content {
  max-width: 400px;
  margin: 0 auto;
  margin-top: 20px;
}

.panel {
  margin-top: 20px;
}

.form-label {
  text-align: right;
}

.panel-title {
  text-align: center;
}

.panel-body {
  margin-top: 10px;
}

.pay {
  text-align: center;
  margin-top: 15px;

}

footer {
  margin-top: 50px;
  text-align: center;
  font-size: .9em;
}
